[submodule "external/MixedRealityToolkit-Unity"]
	path = external/MixedRealityToolkit-Unity
	url = https://github.com/microsoft/MixedRealityToolkit-Unity
	branch = mrtk_development
	ignore = dirty
[submodule "external/ARCore-Unity-SDK"]
	path = external/ARCore-Unity-SDK
	url = https://github.com/google-ar/arcore-unity-sdk
	ignore = dirty
[submodule "external/Azure-Spatial-Anchors-Samples"]
	path = external/Azure-Spatial-Anchors-Samples
	url = https://github.com/Azure/azure-spatial-anchors-samples
	ignore = dirty
[submodule "external/gamecapture"]
	path = external/gamecapture
	url = https://github.com/elgatosf/gamecapture.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/MSBuildForUnity"]
	path = external/MSBuildForUnity
	url = https://github.com/microsoft/MSBuildForUnity.git
