*.db
*.opendb
*.user
*.suo
*.obj

ARM/*
x64/*
packages/*
ipch/*
Release/*
Debug/*

SpectatorView.Compositor/UnityPlugin/x64/*
SpectatorView.Compositor/UnityPlugin/Debug/*
SpectatorView.Compositor/UnityPlugin/Release/*

SpectatorView.Compositor/SharedHeaders/x64/*
SpectatorView.Compositor/SharedHeaders/Debug/*
SpectatorView.Compositor/SharedHeaders/Release/*

SpectatorView.Compositor/Compositor/x64/*
SpectatorView.Compositor/Compositor/Release/*
SpectatorView.Compositor/Compositor/Debug/*

# External Dependencies
SpectatorView.Compositor/Dependencies/*

# Decklink
SpectatorView.Compositor/Compositor/DeckLink*.idl
SpectatorView.Compositor/Compositor/DeckLinkAPIVersion.h
SpectatorView.Compositor/Compositor/DeckLinkAPI_h.h
SpectatorView.Compositor/Compositor/DeckLinkAPI_i.c

SpectatorView.Compositor/UnityPlugin/DeckLink*.idl
SpectatorView.Compositor/UnityPlugin/DeckLinkAPIVersion.h
SpectatorView.Compositor/UnityPlugin/DeckLinkAPI_h.h
SpectatorView.Compositor/UnityPlugin/DeckLinkAPI_i.c


# Elgato
SpectatorView.Compositor/Compositor/IVideoCaptureFilter*


# OpenCV
SpectatorView.Compositor/Compositor/opencv*.dll
SpectatorView.Compositor/UnityPlugin/opencv*.dll